.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* .home{
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: rgb(227, 116, 116);
} */
/* .create_form input{
  width: 300px;
  padding: 10px;
  border-bottom: 2px solid;
  outline: none;
} 
.create_form button{
  padding: 10px;
  background-color: black;
  color: white;
  cursor: pointer;
}  */
.container{
  width: 100%;
  min-height: 100vh;
  background: rgb(121, 113, 113);
  /* border: 2px solid green; */
  padding: 10px;
}
.todo-app{
  width: 100%;
  max-width: 540px;
  background: white;
  border: 2px solid black;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 15px;
}
.todo-app h2 img{
  width: 30px;
  margin-left: 10px;
}
.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}
/* input{
  position: relative;
  flex: 1;
  outline: none;
  background: none;
  padding: 10px;
} */
input{
  position: relative;
  flex: 1;
  border: none;
  outline: none;
  background: none;
  padding: 10px;
}


button{
  border: none;
  outline: none;
  padding: 16px 50px;
  background: #ff5945;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* border: 1px solid #e5e5e5; */
}
.delete {
  height: 25px;
    padding: 5px 0px;
    border-radius: 3px;
}
.delete:hover {
  background: #f2f2f2;
  cursor: pointer;
}

.edit{
  height: 25px;
  padding: 5px 0px;
  border-radius: 3px;
  margin-right: 10px;
}

.edit:hover{
  background: #f2f2f2;
  cursor: pointer;
}

ul li {
  padding: 10px;
  /* padding-left: 0; */
  display: flex;
  justify-content: space-between;
  align-items: inherit;
  align-items: center;
}

ul li:hover {
  background: lightyellow;
}
#list input[type="checkbox"] {
  display: none; 
}
#list input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: block;
  float: none;
  cursor: auto;
}


#list label {
  position: relative;
  cursor: pointer;
}

#list label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #0079bf;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 10px;
}
#list input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
#list input:checked + label:before {
  background: #0079bf;
} 
#list input:checked + label {
  text-decoration: line-through;
}
.mid{
  display: flex;
  font-size: 1.2rem;
  margin-left: 50px;
  margin-bottom: 30px;
  /* justify-content: space-between; */

}
#complete-all{
  margin-left: 10px;
  cursor: pointer;
}

#clear-all{
  margin-left: 90px;
  cursor: pointer;
}

